
<!-- customerName: "VAIBHAVTHAKARE"
orderHistoryId: 1 -->

 <div class="container-fluid mt-3" *ngIf ="orderng">
    <div class="card shadow my-3">

        <div class="col-md-12" style="text-align: center"><h1>My Orders</h1></div>

 

        <div class="card bordered my-4 mx-3" *ngFor=" let id of Orders,index as i">
     
            <h4 class="card-header">Order No. {{i+1}}</h4>
                  <div class="card-body" *ngFor="let item of id">
                    <div class="row  mb-2 bordered text-center font-weight-bold" >
                        <div class="col-md-3" style="text-align: center">
                            Item
                       </div>
                        <div class="col-md-2">Quantity</div>
                        <div class="col-md-2">Mode Of Payment</div>
                        <div class="col-md-5">Shipping Address</div>
                    </div>
                    <hr>
                    <div class="row"  >
                            <div class="col-md-3" style="text-align: center">
                                <div><h5>{{item.productName}}</h5></div>
                                <div><img src={{item.path}} height="160px" width="150px"></div>
                                <div> <h6>₹{{item.price}}</h6></div>
                            </div>
                            <div class="col-md-2 text-center" style="margin-top: 80px" >{{item.quantity}}</div>
                            <div class="col-md-2 text-center" style="margin-top: 80px">{{item.modeOfPayment}}</div>
                            <div class="col-md-5" style="margin-top: 80px">{{item.diliveryAddress}}</div>
                        </div>
                        <div class="card-footer text-muted">
                                <div class="row">
                                    <div class="col-md-4"> Ordered On: {{item.orderDate | date : 'MMM d, y'}}</div>
                                    <div class="col-md-4 text-center"> Total Amount: ₹{{item.totalAmount}}</div>
                                    <div class="col-md-4 text-right">
                                            <div class="text-left"> Delivered On: {{item.deliveryDate | date : 'MMM d, y'}}</div>
                                            <div> <span class="btn-success p-2 pb-2 rounded">  Status : {{item.orderStatus}}</span></div>
                                    </div>
                                </div>
                            </div>
                  </div>
         
        </div>

    </div>
</div> 


<div class="container-fluid mt-3" *ngIf ="!orderng">
    <div class="card shadow my-3">

    <div class="col-md-12" style="text-align: center"><h1>No Current Orders</h1></div>

  
    <div class="col-4  mx-auto d-block">
        <button class="btn btn-success btn-block" [routerLink]="['/home']">Go To Home !</button>
    </div>

</div>
</div>