


<div class="container-fluid mt-3">


        <div class="row justify-content-center">
            <div class="col-lg-4 border p-3 mb-3" style="height: 900px">
                    <form  class="mt-4" (ngSubmit)="editProduct(product)" #product=ngForm>
        
                            <div class="form-group"><h3 class="text-center">Update Address</h3></div>
                                
                               
                  
        
                                <table class="table table-borderless">
                                    <tr>
                                        <td>Product Name</td>
                                        <td>:</td>
                                        <td><input class="inputline" type="text" name="productName" value="{{producthold.productName}}" [ngModel]="producthold.productName"></td>
                                    </tr>
                                     <tr>
                                        <td>Price</td>
                                        <td>:</td>
                                        <td><input class="inputline" type="text" name="price" value="{{producthold.price}}" [ngModel]="producthold.price"></td>
                                    </tr>
                                        
                                    <tr>
                                            <td>Image</td>
                                            <td></td>
                                            <td><img src="{{producthold.path}}" style="height: 300px;width: 220px"></td>
                                   
                                    </tr>
                                    <tr>
                                            <td>Change Image</td>
                                            <td></td>
                                            <td><input class="inputline" type="file" name="path" value="{{producthold.path}}"   [ngModel] = "producthold.path" ></td>
                                    </tr>
                                     <tr>
                                        <td>TagLine</td>
                                        <td>:</td>
                                        <td><input class="inputline " type="text" name="tagLine" value="{{producthold.tagLine}}" [ngModel]="producthold.tagLine" ></td>
                                    </tr>
                                    <tr>
                                            <td>Description</td>
                                            <td>:</td>
                                            <td>
                                                    <textarea rows = "5" cols = "50" class="inputline" type="text"  name="productShortDiscription" value="{{producthold.productShortDiscription}}" [ngModel]="producthold.productShortDiscription">
                                                    </textarea>
                                            </td>
                                    </tr>
                                    <tr>
                                            <td>Category</td>
                                            <td>:</td>
                                            <td><input class="inputline " type="text"  name="category" value="{{producthold.category}}" [ngModel]="producthold.category"></td>
                                    </tr>                                                                        
                                </table>
                                <button type="submit" class="btn btn-success btn-block mt-4">Update</button>
                        </form>
            </div>
        </div>
        
        
        </div>
        
        
    
    
    