
<style type="text/css">

.err
    {
        
        font-size: 20px;
        color: red;
    }

    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>


<div class="container-fluid mt-3" >
        <div class="row justify-content-center">
            <div class="col-lg-4 border p-3 mb-3" >
                <form class="mt-4" (ngSubmit)="f.form.valid && register(f)" #f="ngForm">
                    <div class="form-group"><h3 class="text-center">Register</h3></div>
                    <div style="text-align: center"><img style="width: 200px" class="img-responsive"  src="../../assets/Icons/giphy.gif">
                    </div>
                    <table class="table table-borderless">
                        
        
                            <tr><td><input class="inputline" type="email" name="EmailId" placeholder="Email" #email=ngModel ngModel required email></td></tr>
            
                            <small class="text-danger" *ngIf="f.submitted && email.errors?.required">
                                Email required
                            </small>
                            <small class="text-danger" *ngIf="email.invalid && email.errors?.email">
                                    Enter proper format
                                </small>
                            <tr><td><input class="inputline" type="password" name="Password" placeholder="Password" #pass="ngModel" ngModel required></td></tr>
                            <small class="text-danger" *ngIf="f.submitted &&  pass.errors?.required">
                                    Password required
                                </small>
                            <tr><td><input class="inputline" type="tel" name="PhoneNo" placeholder="Mobile" pattern="[0-9]+" ngModel #Phone=ngModel  required minlength=10 maxlength="10"></td></tr>
                            <small class="text-danger" *ngIf="f.submitted &&  Phone.errors?.pattern">
                                Numbers only
                            </small>
                            <small class="text-danger" *ngIf="f.submitted &&  Phone.errors?.required">
                                    Mobile required
                                </small>
                            <small class="text-danger" *ngIf="f.submitted && Phone.errors?.minlength">
                                Mimimum 10 digits required
                            </small>
                            <tr><td>
                                    <label><input class="inputline" type="text" name="FirstName" placeholder="First Name" ngModel required pattern="^[a-zA-Z]+$"></label>
                                    <label class="ml-4"><input class="inputline" type="text"  name="LastName" placeholder="Last Name" ngModel ></label>
                                
                            </td></tr>
                            <tr>
                                <td>
                                    
                                    <select class="inputline text-muted" required ngModel name="question" #ques="ngModel">
                                            <option value="" disabled selected hidden>Select a Question</option>
                                            <option  *ngFor="let ques of secQuestions" value={{ques}}>{{ques}}</option>
                                        </select>
                                        
                                </td>
                                
                            </tr>
                            <small class="text-danger" *ngIf="f.submitted &&  ques.errors?.required">
                                    Question required
                                </small>
                            <!-- <tr><td><input class="inputline" type="text"  name="question" placeholder="Select Security Question" ngModel required></td></tr> -->
                            <tr><td><input class="inputline" type="text"  name="answer" placeholder="Answer" ngModel required></td></tr>
                            <tr><td> <label style="color: gray" >Gender</label>
                                     <input  class="ml-4" type="radio" name="gender" value="male" ngModel ><label style="color: gray" >Male</label> 
                                     <input  class="ml-4" type="radio" name="gender" value="female" ngModel ><label style="color: gray" >Female</label></td></tr>
                            <tr><td> <label style="color: gray" >DOB</label>
                                     <label class="ml-4"><input style="color: gray" class="inputline ml-4" type="date" name="DateOfBirth" placeholder="Date Of Birth" ngModel ></label> 
                            </td></tr>   
                            
            
                            
                    </table>
                    <button class="inputline" type="submit" class="btn btn-success btn-block">SignUp</button>
                    <button type="button" [routerLink]="['/login']" class="btn btn-secondary btn-block">Existing User? Log in</button>
                </form>
            </div>
        </div>
    </div>


<!-- Material switch -->
<label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      
      <!-- Rounded switch -->
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>

   
    

<!-- 
<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form (ngSubmit)="register(f)" #f=ngForm>
                <div style="text-align: center"><img style="width: 200px" class="img-responsive"  src="../../assets/Icons/giphy.gif">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="EmailId" ngModel required email
                    #emval=ngModel>

                    <div *ngIf="emval.invalid && emval.touched">
                            <div class="err" *ngIf="emval.errors.required">
                                email required
                            </div>

                            <div class="err" *ngIf="emval.errors.email">
                                enter valid email
                            </div>
                    </div>
                    
                 

                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="Password" ngModel required>
                </div>

                <div class="form-group">
                    <label>Mobile</label>
                    <input type="tel" name="PhoneNo" ngModel>
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="FirstName" ngModel>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text"  name="LastName" ngModel>
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    
                    <div><input type="radio" name="gender" value="male" ngModel> Male
                        <input type="radio" name="gender" value="female" ngModel> Female
                    </div>
                        
                </div>

                <div class="form-group">
                    <label>DOB</label>
                    <input type="date" name="DateOfBirth" ngModel>
                </div>

               
                <button type="submit" class="btn btn-success btn-block">SignUp</button>
            
               
               
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div> -->


<!-- <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-4 border p-3 mb-3" style="height: 400px">
                <form class="mt-4" (ngSubmit)="register(f)" #f=ngForm>
                    <div class="form-group"><h3 class="text-center">Register</h3></div>
                    <div style="text-align: center"><img style="width: 200px" class="img-responsive"  src="../../assets/Icons/giphy.gif">
                    <table class="table table-borderless">
                        
        
                        <tr><td><input class="inputline" type="text" name="state" placeholder="Email" ngModel ></td></tr>
                        <tr><td><input class="inputline" type="text" name="city" placeholder="Password" ngModel ></td></tr>
                        <tr><td><input class="inputline" type="text" name="postalCode" placeholder="Mobile" ngModel ></td></tr>
                        <tr><td><input class="inputline" type="text" name="addressLine" placeholder="First Name" ngModel ></td></tr>
                        <tr><td><input class="inputline" type="text" name="addressLine" placeholder="Last Name" ngModel ></td></tr>
                        <tr><td><input type="radio" name="gender" value="male" ngModel> Male
                            <input type="radio" name="gender" value="female" ngModel> Female</td></tr>
                        <tr><td><input class="inputline" type="text" name="addressLine" placeholder="Date Of Birth" ngModel ></td></tr>   
                        
            
                       
                    </table>
                    <button class="inputline" type="submit" class="btn btn-success btn-block">Add</button>
                </form>
            </div>
        </div>
    </div> 
     -->

